html
{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

[type=text] {
    background-color: #ddd;
    color: #666;
    padding: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    height: 30px;
    position: relative;
    left: 0;  
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s;
    
}

[type=text]:hover {
    cursor: pointer;
    background-color: #eee;
}

[type=text]:focus {
    cursor: text;
    background-color: #333;
    color: #eee;
    
}

[type=button] {
  padding: 12;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
}
